body {
    padding-top: 10px;
    font-family: futura, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFD9CA;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.container .box {
    flex: 1;
}

/* Navigation Bar */
nav {
    background-color: #EFD9CA; 
    border-bottom: 0.15vw solid rgb(0, 0, 0);
    overflow: hidden; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none; 
}

nav a {
    display: block; 
    color: rgb(8, 131, 90); 
    text-align: center; 
    padding: 1vw 5vw; 
    text-decoration: none; 
    font-size: 1em;
}

nav a:hover {
    color: #F06D4E; 
}

/* Introduction Section */
.introduction {
    padding-top: 3rem;
    background-color: rgb(8, 131, 90);
    color: rgb(205, 232, 217);
    border-bottom: 1vw solid #EFD9CA;
    padding-bottom: 3vw;

}

.introduction h1 {
    color: #EFD9CA; 
    text-align: center;
    padding: 20px;
    font-size: 6vw;
    margin: 0; 
    padding: 0px 0;
}

.introduction p {
    text-align: left;
    font-size: 2vw;
    padding: 0vw 9vw 2vw 3.5vw;
}

.introduction p.right-aligned {
    text-align: right;
    padding: 0vw 3.5vw 2vw 9vw;
}

#big {
    text-align: center;
    padding: 0vw 8vw 1vw 0vw;
    font-size: 3vw;
}

.big-num {
    font-size: 4vw; 
    color: #EFD9CA; 
}

/* Avatar */
.avatar {
    position: relative;
    width: 30vw;  
}

.avatar img {
    position: absolute;
    width: 100%;
    height: auto; 
    transition: opacity 0.5s;
}

.avatar .original-avatar {
    opacity: 1;
}

.avatar .hover-avatar {
    opacity: 0;
}

.avatar:hover .original-avatar {
    opacity: 0;
}

.avatar:hover .hover-avatar {
    opacity: 1;
}

/* Map and Tooltip */
.map-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0vw 0vw 1vw 13vw;
    max-width: 600px;
    margin: auto;
}

.map {
    width: 40vw;
    height: auto;
    display: block;
}

.marker {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background: url('markerv2.png') no-repeat center center;
    background-size: contain; 
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.marker:hover {
    background-image: url(marker-hover.png);  
}

.tooltip {
    position: absolute;
    background-color: #FADBD3;
    border: 0.05vw solid rgb(0, 0, 0);
    border-radius: 5px;
    white-space: nowrap; 
    left: 100%; 
    top: 50%; 
    transform: translateY(-50%);
    margin-left: 10px; 
    display: flex;
    align-items: center;    
    justify-content: center; 
    padding: 1vw;
}

#tooltip {
    font-size: 1vw; 
    color: #EA7A7A;
    margin: 0;
    padding: 0vw;
}

/* Reviews Section */
.reviews {
    padding-top: 5vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    background-color: #F06D4E;
    color: #EAD3C3;
}

.reviews p {
    font-size: 3vw;
    margin: 0;
}

#search {
    width: 100%;
    height: 2vw;
    background-color: #EF938F;
    border: 0.15vw solid black;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    margin: 20px auto;
    border: 0.15vw solid black;
    background-color: #EF938F;
}

#search {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1em;
    background-color: transparent;
}

.no-results {
    text-align: center;
    font-size: 2vw;
    display: none; /* Initially hidden */
    color: black;
    background-color: #F06D4E;
    padding: 1rem;
}

/* Filter Featire */
#filter-button {
    background-color: #6e3a18;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

#filter-button:hover {
    background-color: #EFD9CA;
}

.filter-dropdown {
    position: relative;
}

.filter-dropdown:hover .filter-options {
    display: flex;
}

.filter-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #EFD9CA;
    border: 0.15vw solid black;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1;
    flex-direction: row;
    padding: 2rem;
}

.filter-options select {
    margin: 5px;
    background-color: #EF938F;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-options select:hover {
    background-color: #EFD9CA;
}



/* Grids (Reviews) */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #F06D4E;
    color: black;
}

.grid p {
    margin: 0.5vw;
    font-size: 1.3vw;
}

.grid h2 {
    margin: 1vw;
    font-size: 2vw;
    background-color: #F5B9A9;
    margin: 0vw;   
    width: 100%; 
    text-align: center;
    border-bottom: 0.15vw solid black;
    text-decoration: none;
}

.grid-item {
    display: none; 
    flex-direction: column;
    background-color: #EDD7C8;
    border: 0.15vw solid rgb(0, 0, 0);
    align-items: center;
    padding:0;
}

.grid-item img {
    padding-top: 1vw;
    max-width: 90%;
    height: auto;
}

.grid-item.active {
    display: flex;
}

/* Suggestions Section */
.suggestions {
    background-color: yellow;
    color: black;
    padding: 20px 0;
}

/* Contact Section */
.contact {
    background-color: pink;
    color: blue;
    padding: 20px 0;
}

