body {
    font-family: futura, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container .box {
    flex: 1;
    margin: 0 40px;
}

.map {
    height: 300px;
    background-color: #d0d0d0;
    background-image: url('path_to_map_image_here');
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: red;
    color: yellow;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.search-filter-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    text-align: center; 
    background-color: red;
    color: yellow;
}

.search-filter-container input[type="text"] {
    width: 100%; 
    max-width: 800px; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the filter row */
.filter-row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: red;
    color: yellow;
}

.filter-row select {
    max-width: 800px;
    padding: 10px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grid-item {
    display: none; 
}

.grid-item.active {
    display: flex;
}

/* Introduction Section */
.introduction {
    background-color: rgb(8, 131, 90);
    color: rgb(205, 232, 217);
    padding: 20px 0;
}

.introduction h1 {
    text-align: center;
    padding: 20px;
    font-size: 120px;
    margin: 0; 
    padding: 0px 0;
}

.introduction p {
    text-align: left;
    padding: 50px;
    font-size: 30px;
}

.introduction p.right-aligned {
    text-align: right;
    padding: 50px;
    font-size: 30px;
}

/* Search, Filter and Grid Section */
.search-and-filter {
    background-color: RGB(240, 109, 78);
    color: yellow;
    padding: 20px 0;
}

/* Suggestions Section */
.suggestions {
    background-color: yellow;
    color: black;
    padding: 20px 0;
}

/* Contact Section */
.contact {
    background-color: pink;
    color: blue;
    padding: 20px 0;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
