body {
    padding-top: 50px;
    font-family: futura, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #EFD9CA; 
    border-bottom: 0.15vw solid rgb(0, 0, 0);
    overflow: hidden; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none; 
}

nav a {
    display: block; 
    color: rgb(8, 131, 90); 
    text-align: center; 
    padding: 1vw 5vw; 
    text-decoration: none; 
    font-size: 1.2vw;
}

nav a:hover {
    color: white; 
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.container .box {
    flex: 1;
}

/* Grids (Reviews) */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: red;
    color: yellow;
}

.grid-item {
    display: none; 
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item.active {
    display: flex;
}

.search-filter-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    background-color: red;
    color: yellow;
}

.search-filter-container input[type="text"] {
    width: 100%; 
    max-width: 800px; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the filter row */
.filter-row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: red;
    color: yellow;
}

.filter-row select {
    max-width: 800px;
    padding: 10px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Introduction Section */
.introduction {
    padding-top: 50px;
    background-color: rgb(8, 131, 90);
    color: rgb(205, 232, 217);
    border-bottom: 1vw solid #EFD9CA;

}

.introduction h1 {
    color: #EFD9CA; 
    text-align: center;
    padding: 20px;
    font-size: 6vw;
    margin: 0; 
    padding: 0px 0;
}

.introduction p {
    text-align: left;
    font-size: 2vw;
    padding: 0vw 9vw 2vw 3.5vw;
}

.introduction p.right-aligned {
    text-align: right;
    padding: 0vw 3.5vw 2vw 9vw;
}

#big {
    text-align: center;
    padding: 0vw 8vw 1vw 0vw;
    font-size: 3vw;
}

.big-num {
    font-size: 4vw; 
    color: #EFD9CA; 
}

/* Map and Tooltip */
.map-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0vw 0vw 1vw 13vw;
    max-width: 600px;
    margin: auto;
}

.map {
    width: 40vw;
    height: auto;
    display: block;
}

.marker {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background: url('markerv2.png') no-repeat center center; /* Use the custom marker image */
    background-size: contain; /* Resize the image to fit within the dimensions of the marker */
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.marker:hover {
    background-image: url(marker-hover.png);  
}

.tooltip {
    position: absolute;
    background-color: #FADBD3;
    border: 0.05vw solid rgb(0, 0, 0);
    border-radius: 5px;
    white-space: nowrap; 
    left: 100%; 
    top: 50%; 
    transform: translateY(-50%);
    margin-left: 10px; 
    display: flex;
    align-items: center;    
    justify-content: center; 
    padding: 1vw;
}

#tooltip {
    font-size: 1vw; 
    color: #EA7A7A;
    margin: 0;
    padding: 0vw;
}

/* Search, Filter and Grid Section */
.search-and-filter {
    padding-top: 50px;
    background-color: RGB(240, 109, 78);
    color: yellow;
}

/* Suggestions Section */
.suggestions {
    background-color: yellow;
    color: black;
    padding: 20px 0;
}

/* Contact Section */
.contact {
    background-color: pink;
    color: blue;
    padding: 20px 0;
}

img {
    width: 75%;
    display: block;
    margin: 0 auto;
}

/* Avatar */
.avatar {
    position: relative;
    width: 30vw;  
}

.avatar img {
    position: absolute;
    width: 100%;
    height: auto; 
    transition: opacity 0.5s;
}

.avatar .original-avatar {
    opacity: 1;
}

.avatar .hover-avatar {
    opacity: 0;
}

.avatar:hover .original-avatar {
    opacity: 0;
}

.avatar:hover .hover-avatar {
    opacity: 1;
}


